.boulderRoutes {
    padding: 0;
    margin: 0;
    list-style: none;
}
.boulderRoute {
    display: flex;
    &:before {
        border: 1px solid #000;
        display: inline-block;
        width: 12px;
        height: 12px;
        content: "";
        margin-right: 10px;
    }
    margin-bottom: 10px;
    a {
        display: inline-flex;
        row-gap: 5px;
        flex-wrap: wrap;
        text-decoration: none;
        > * {
            display: inline-flex;
            border-bottom: 1px solid #000;
            &:not(:first-child) {
                padding-left: 10px;
            }
        }
    }
}
.boulderRouteGrade {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.problemCount {
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
}
