.articleParagraphs {
    margin-top: 50dvh;
}
.boulderTitle {
    a {
        text-decoration: none;
    }
}
.boulderRoutes {
    padding: 0;
    margin: 0;
    list-style: none;
}
.boulderRouteImages {
    padding-top: 24px;
    img {
        width: 100%;
    }
    img + div {
        font-size: 0.8em;
        a {
            text-decoration: underline;
        }
        margin-bottom: 16px;
    }
}
.boulderRoute {
    margin-bottom: 16px;
    &:first-child {
        .boulderRouteImages {
            padding-top: 0;
        }
    }
    a {
        display: inline-flex;
        row-gap: 5px;
        flex-wrap: wrap;
        text-decoration: none;
        > * {
            display: inline-flex;
            border-bottom: 1px solid #000;
            &:not(:first-child) {
                padding-left: 8px;
            }
        }
    }
}
.boulderRouteDescription {
    font-size: 0.85em;
}
.boulderRouteTitle {
    display: flex;
    font-weight: 500;
    margin-bottom: 8px;
    flex-wrap: wrap;
    gap: 8px;
    // &:before {
    //     border: 1px solid #000;
    //     display: inline-block;
    //     width: 12px;
    //     height: 12px;
    //     content: "";
    //     margin-right: 10px;
    // }
}
.boulderRouteId {
    white-space: pre;
}
.boulderRouteGrade {
    white-space: pre;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.problemCount {
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
}

.approach {
    img {
        width: 100%;
    }
}
